<html>
    <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container-fluid"> 
            <h1 class="text-center"> Sign In </h1> 
            <div class="row">
                <div class="col-sm-1">
                    Username:
                </div>
                    
                <div class="col-sm-1">
                    <input type="text" name="usernameInput" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    Password:
                </div>

                <div class="col-sm-1">
                    <input type="password" name="passwordInput"/>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="submit" name="signinButton" value="Sign in!" />
                </div>
            </div>
        </div>
    </body>
</html>