{%load static %}
<html> 
    <head>
        <title>Checklist</title>
        <link rel="stylesheet" href="{%static 'style.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>

    <body>
        <div class="jumbotron">
        <div class="container full_height">
            <h1 class="display-3 text-center">Checklist</h1>
            <p class="lead text-center">Start getting things done. That's simple.</p>
            <hr class="my-4">
            <p class="text-center">
            Sign up for free and start completing your errands.</p>
            <p class="text-center">
                <a class="btn btn-primary btn-lg" href="register" role="button">Sign-Up</a>
                <br>
                <br>
                Already have an account?
                <br>
                <a class="btn btn-primary btn-lg" href="login" role="button">Sign-In</a>
            </p>
        </div>
        </div>
    </body>
</html>